# Docker Compose project name (optional)
COMPOSE_PROJECT_NAME=nginx-proxy

# Host ports mapped to NGINX
HTTP_PORT=80
HTTPS_PORT=443

# Let's Encrypt (HTTP-01 via porta 80)
ACME_EMAIL=voce@seudominio.com
ACME_DOMAIN=nachapa.2ulabs.com.br
